<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/login.css">
    <title>FRECO | Login Page</title>
</head>
<body>
    <div class="gradient">
        <img src="/images/fontaine.jpg" alt="">
    </div>
    <section class="container" id="login-side">
        <div class="login-form">
            <h1>Fontaine Renewables Co.</h1>
            <form action="/login" id="form" class="form" method="POST">
                <div class="input-icon">
                    <i class="fa fa-user icon"></i>
                    <input type="text" class="input-field" name="email" placeholder="Company email" required>
                </div>
                <div class="input-icon">
                    <i class="fa fa-lock icon"></i>
                    <input type="text" class="input-field" name="password" placeholder="Password">
                    <a href="#" id="forgot-password"><p>Forgot password?</p></a required>
                </div>
                <button class="submit">Login</button>
                <% if (messages.error) {%>
                <p><%= messages.error  %></p>
                <% } %>
                
            </form>
        </div>
</body>
</html>